<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Barbearia</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/3700barber.css">
</head>
<body>

    <a href="/painel/utilizadores/novo" class="btn btn-primary btn-xs"><b>+</b> Adicionar novo utilizador</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Password</th>
                <th>Email</th>
                <th>Telemovel</th>
                <th>Pontos</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% dados.forEach((dados) => { %>
            <tr>
                <td><%= dados.Id %></td>
                <td><%= dados.Nome %></td>
                <td><%= dados.Password %></td>
                <td><%= dados.Email %></td>
                <td><%= dados.Telemovel %></td>
                <td><%= dados.Pontos %></td>
                <td><%= dados.Cargo %></td>
                <td><a href="/painel/utilizadores/update/<%= dados.Id %>">Editar</a>|<a href="/painel/utilizadores/delete/<%= dados.Id %>">Apagar</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    


</body>
</html>
