<html>
<head>

</head>
<body>

    <form method="POST" name="novaMarcacao" id="novaMarcacao">
        <table>
            <tr>
                <th>Utilizador</th>
                <td>
                    <select form="novaMarcacao" name="utilizador">
                        <option default value="0">Escolha um utilizador: </option>
                        <% utilizador.forEach((utilizador) => { %>
                        <option value="<%=utilizador.Id%>" ><%=utilizador.Nome%></option>
                        <% }); %>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Barbeiro</th>
                <td>
                    <select form="novaMarcacao" name="barbeiro">
                        <option default value="0">Escolha um barbeiro: </option>
                        <% barbeiro.forEach((barbeiro) => { %>
                        <option value="<%=barbeiro.Id%>" ><%=barbeiro.Nome%></option>
                        <% }); %>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Serviço</th>
                <td>
                    <select form="novaMarcacao" name="servico">
                        <option default value="0">Escolha um serviço: </option>
                        <% servico.forEach((servico) => { %>
                        <option value="<%=servico.Id%>" ><%=servico.Nome%></option>
                        <% }); %>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Data</th>
                <td><input type="date" name="data"></td>
            </tr>
            <tr>
                <th>Notas</th>
                <td><input type="text" name="notas"></td>
            </tr>
        </table>
        <input type="submit" value="Enviar">
    </form>
    

</body>

</html>