<html>
<head>

</head>
<body>

    <form method="POST">
        <table>
            <tr>
                <th>Id</th>
                <td><input type="text" name="id" value="<%= dados[0].Id %>"></td>
            </tr>
            <tr>
                <th>Nome</th>
                <td><input type="text" name="nome" value="<%= dados[0].Nome %>"></td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td><input type="text" name="descricao" value="<%= dados[0].Descricao %>"></td>
            </tr>
            <tr>
                <th>Especialização</th>
                <td><input type="text" name="especializacao" value="<%= dados[0].Especializacao %>"></td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td><input type="number" name="ativo" value="<%= dados[0].Ativo %>"></td>
            </tr>
        </table>
        <input type="submit" value="Enviar">
    </form>
    

</body>

</html>